.footer{
    background-color: #000;
    color: #fff;
    height: 40vh;
}
.smallText{
    font-size: 0.75rem;
}
.footerMenu{
    list-style: none;
}
.mark{
    background-image: url('./Group586.png');
}